body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

header {
  /* display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  border: 1px solid; */
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loadInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: aliceblue;
  width: 300px;
  height: 600px;
}

.gameBoard.initialBoard {
  height: 300px;
  min-width: 250px;
  border: 1px solid;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gameBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem;
}

h2 {
  display: flex;
  justify-content: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  height: 350px;
  min-width: 350px;
  /* max-width: 400px; */
}

.gameBoard,
.gridSquare {
  border: 1px solid;
}
